
*.stash

*.plist

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Debug/LPlayer.app/Contents/MacOS/LPlayer

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Debug/LPlayer.app/Contents/PkgInfo

*.lproj

*.o

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Debug/Makefile

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Debug/qrc_qml.cpp

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Release/LPlayer.app/Contents/MacOS/LPlayer

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Release/LPlayer.app/Contents/PkgInfo

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Release/Makefile

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Release/qrc_qml.cpp
