
*.stash

*.plist

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Debug/LPlayer.app/Contents/MacOS/LPlayer

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Debug/LPlayer.app/Contents/PkgInfo

*.lproj

*.o

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Debug/Makefile

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Debug/qrc_qml.cpp

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Release/LPlayer.app/Contents/MacOS/LPlayer

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Release/LPlayer.app/Contents/PkgInfo

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Release/Makefile

build-LPlayer-Desktop_Qt_5_6_0_clang_64bit-Release/qrc_qml.cpp
*.suo
LPlayer/LPlayer.pro.user
*.old
LPlayer/LPlayer.vcxproj.user
*.log
LPlayer/Win32/Debug/LPlayer.tlog/custombuild.command.1.tlog
*.tlog
LPlayer/LPlayer.VC.VC.opendb
LPlayer/LPlayer.VC.db
build-LPlayer-Desktop_Qt_5_6_0_MSVC2015_32bit-Debug/Makefile
*.Debug
build-LPlayer-Desktop_Qt_5_6_0_MSVC2015_32bit-Debug/Makefile.Release
*.obj
build-LPlayer-Desktop_Qt_5_6_0_MSVC2015_32bit-Release/GeneratedFiles/release/moc_QMLVLCItem.cpp
build-LPlayer-Desktop_Qt_5_6_0_MSVC2015_32bit-Debug/GeneratedFiles/release/moc_QMLVLCItem.cpp
build-LPlayer-Desktop_Qt_5_6_0_MSVC2015_32bit-Release/Makefile
build-LPlayer-Desktop_Qt_5_6_0_MSVC2015_32bit-Release/Makefile.Release
LPlayer/bin/LPlayer_d.exe
*.ilk
*.pdb
LPlayer/bin/plugins/plugins.dat
LPlayer/GeneratedFiles/Debug/moc_QMLVLCItem.cpp
LPlayer/.vs/config/applicationhost.config
LPlayer/bin/LPlayer.exe
LPlayer/bin/plugins/plugins.dat
LPlayer/bin/plugins/plugins.dat.12416
LPlayer/bin/plugins/plugins.dat.12620
LPlayer/bin/plugins/plugins.dat
LPlayer/bin/plugins/plugins.dat.13584
LPlayer/bin/plugins/plugins.dat
LPlayer/bin/plugins/plugins.dat.15216
LPlayer/bin/plugins/plugins.dat.8088
LPlayer/bin/plugins/plugins.dat.2788
LPlayer/GeneratedFiles/Release/moc_QMLVLCItem.cpp
